DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ecommerce"
JWT_SECRET="change-me"
MANUAL_SALES_ENABLED_STORE_IDS=3003
PORT=3000
APP_URL="http://localhost:3000"
API_PREFIX="api"
DOCS_PATH="docs"
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379
UPLOADS_DIR="./uploads"
STORE_1_MERCADOPAGO_ACCESS_TOKEN=""
STORE_1_MERCADOPAGO_PUBLIC_KEY=""
STORE_2_MERCADOPAGO_ACCESS_TOKEN=""
STORE_2_MERCADOPAGO_PUBLIC_KEY=""
STORE_4_MERCADOPAGO_ACCESS_TOKEN=""
STORE_4_MERCADOPAGO_PUBLIC_KEY=""
ENVIOPACK_API_KEY=""
ENVIOPACK_SECRET_KEY=""
ENVIOPACK_WEBHOOK_SECRET=""
CORREO_ARGENTINO_API_BASE_URL=""
CORREO_ARGENTINO_API_USERNAME=""
CORREO_ARGENTINO_API_PASSWORD=""
